@font-face {
    font-family: Title;
    src: url(../fonts/DoHyeon-Regular.ttf);
}

html {
    color: rgb(50, 50, 50);
    body {
        overflow-y: hidden;
        margin: 0px;
        .container {
            height: 100vh;
            width: 100vw;
            .nav {
                height: 10vh;
                width: 100vw;
                background-color: gray;
                display: flex;
                .logo {
                    height: 100%;
                    width: 25vw;
                    text-align: center;
                    line-height: calc(10vh);
                    color: darkred;
                    font-size: 40px;
                    font-weight: bolder;
                    font-family: Title;
                }
                .search {
                    width: 75vw;
                    line-height: calc(10vh);
                    justify-content: center;
                    text-align: center;
                    input {
                        height: 30%;
                        width: 70%;
                        border-radius: 3px;
                        border: none;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
            .main {
                display: flex;
                .sidebar {
                    background-color: lightgrey;
                    width: 25vw;
                    height: 85vh;
                    display: flex;
                    flex-direction: column;
                    margin-right: 0;
                    .filter {
                        width: 100%;
                        height: 70%;
                        p {
                            text-align: center;
                            font-size: 22px;
                        }
                        ul {
                            list-style-type: none;
                            padding-left: 0px;
                            li {
                                text-align: center;
                                text-decoration: none;
                                font-size: 22px;
                                .dropdown {
                                    font-size: 18px;
                                    width: 25%;
                                    display: flex;
                                    justify-content: flex-end;
                                    margin: auto;
                                    background-color: inherit;
                                    border: none;
                                    i {
                                        margin-left: 5%;
                                    }
                                }
                                .drop-content {
                                    display: none;
                                }
                                .active {
                                    margin: auto;
                                    margin-left: 3.8%;
                                    display: flex;
                                    flex-direction: column;
                                    width: 60%;
                                    button {
                                        width: 100%;
                                        background-color: inherit;
                                        border: none;
                                        text-align: end;
                                        
                                    }
                                }
                            }
                        }
                    }
                    .add-game {
                        width: 100%;
                        height: 30%;
                        justify-content: center;
                        align-content: center;
                        text-align: center;
                        p {
                            font-size: 20px;
                        }
                        button {
                            width: 65%;
                            height: 15%;
                            border-radius: 3px;
                            font-size: 14px;
                            border: none;
                            background-color: darkgrey;
                        }
                    }
                }
                .cards {
                    display: flex;
                    width: 75vw;
                    height: 85vh;
                }
            }
            footer {
                display: inline-block;
                position: absolute;
                bottom: 0px;
                width: 100vw;
                height: 5vh;
                text-align: center;
                background-color: gray;
                div {
                    width: 70%;
                    height: 100%;
                    line-height: calc(5vh);
                    margin: auto;
                    color: darkred;
                    font-weight: bold;
                    font-family: Title;
                    font-size: 18px;
                }
            }
        }
    }
}