@font-face {
  font-family: Title;
  src: url(../fonts/DoHyeon-Regular.ttf);
}

html {
  color: #323232;
}

html body {
  overflow-y: hidden;
  margin: 0px;
}

html body .container {
  height: 100vh;
  width: 100vw;
}

html body .container .nav {
  height: 10vh;
  width: 100vw;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .nav .logo {
  height: 100%;
  width: 25vw;
  text-align: center;
  line-height: calc(10vh);
  color: darkred;
  font-size: 40px;
  font-weight: bolder;
  font-family: Title;
}

html body .container .nav .search {
  width: 75vw;
  line-height: calc(10vh);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

html body .container .nav .search input {
  height: 30%;
  width: 70%;
  border-radius: 3px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

html body .container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .main .sidebar {
  background-color: lightgrey;
  width: 25vw;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0;
}

html body .container .main .sidebar .filter {
  width: 100%;
  height: 70%;
}

html body .container .main .sidebar .filter p {
  text-align: center;
  font-size: 22px;
}

html body .container .main .sidebar .filter ul {
  list-style-type: none;
  padding-left: 0px;
}

html body .container .main .sidebar .filter ul li {
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

html body .container .main .sidebar .filter ul li .dropdown {
  font-size: 18px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
  background-color: inherit;
  border: none;
}

html body .container .main .sidebar .filter ul li .dropdown i {
  margin-left: 5%;
}

html body .container .main .sidebar .filter ul li .drop-content {
  display: none;
}

html body .container .main .sidebar .filter ul li .active {
  margin: auto;
  margin-left: 3.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

html body .container .main .sidebar .filter ul li .active button {
  width: 100%;
  background-color: inherit;
  border: none;
  text-align: end;
}

html body .container .main .sidebar .add-game {
  width: 100%;
  height: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

html body .container .main .sidebar .add-game p {
  font-size: 20px;
}

html body .container .main .sidebar .add-game button {
  width: 65%;
  height: 15%;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  background-color: darkgrey;
}

html body .container .main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75vw;
  height: 85vh;
}

html body .container footer {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 5vh;
  text-align: center;
  background-color: gray;
}

html body .container footer div {
  width: 70%;
  height: 100%;
  line-height: calc(5vh);
  margin: auto;
  color: darkred;
  font-weight: bold;
  font-family: Title;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */